%h2.text-center
  Начать новую беседу
  %br
  %small
    = link_to 'Назад', chat_rooms_path, class: 'btn btn-primary btn-sx'

= form_for @chat_room do |f|
  .form-group
    = f.label :title
    = f.text_field :title, autofocus: true, class: 'form-control'

  = f.submit "Сохранить", class: 'btn btn-primary'
